@import "tailwindcss";

.bg-green-gradient {
    background-image: linear-gradient(to left bottom, #5ffbcd, #5dfac5, #5df9bd, #5df7b5, #5ff6ac, #5af5a4, #56f49c, #53f393, #46f288, #37f07d, #24ef71, #00ed64);
}

.bg-green-gradient-message {
    background-image: linear-gradient( to right, oklch(0.82 0.19 160) 5%, transparent);

}

.bg-light-gradient {
    background-image: linear-gradient(to bottom, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
}

.bg-red-gradient {
    background-image: linear-gradient(to right, oklch(0.936 0.032 17.717), oklch(0.936 0.032 17.717), transparent);
}

.tuturnera-button {
    border-radius: 12px;
    transition: all 0.3s ease-in-out;
}

.tuturnera-button:hover {
    border-radius: 32px;
}

@theme {
    --color-tuturnera-light-green: #00ED64;
    --color-tuturnera-dark-green: #006A4A;
    --color-tuturnera-dark-gray: #00120B;
    --color-tuturnera-light-gray: #E7EAEE;
    --color-tuturnera-white: #F7F9F9;
    --color-tuturnera-blue: #061621;

    --shadow-tuturnera-header-link: 0 0 1px #0008;
    --shadow-light: 0 0 8px #F7F9F958;
}
