---

---

<section class="w-full grid md:grid-cols-2 lg:px-12">
  <div class="w-full flex flex-col justify-center px-12 py-10  bg-tuturnera-blue rounded-b-[50px] shadow-md gap-6">
    <h1 class="text-tuturnera-light-green text-4xl lg:text-[54px] font-bold drop-shadow-md">The best way to manage your services timetables<span class="text-tuturnera-white">.</span></h1>

    <div class="flex flex-col items-center justify-between space-y-8 lg:pl-2">
      <p class="text-tuturnera-white text-lg"><span class="text-tuturnera-light-green font-bold">M</span>anage your schedules easily and efficiently with the best solution on the market. <span class="text-tuturnera-light-green font-bold">S</span>ave time, avoid complications, and optimize your productivity with a tool designed to simplify your daily routine. <span class="text-tuturnera-light-green font-bold">D</span>iscover how it can help you today<span class="text-tuturnera-light-green font-bold">!</span></p>

      <a href="" class="tuturnera-button w-full lg:w-3/5 py-2 font-bold flex justify-center text-tuturnera-blue bg-tuturnera-light-green  active:opacity-0.5 hover:shadow-light">Try it for free</a>
    </div>
  </div>

  <img src="https://res.cloudinary.com/dmfr1l3tj/image/upload/v1742775208/business_-entrepreneurship-and-growth_zfdcpq.webp" alt="" class=" w-full object-fit drop-shadow-md">
</section>



{/*
  <section class="w-full grid md:grid-cols-2 lg:px-12">
  <div class="w-full flex flex-col lg:flex-row justify-center p-12 lg:py-16 bg-tuturnera-blue rounded-b-[50px] shadow-md gap-4">
    <h1 class="text-tuturnera-light-green text-4xl lg:text-6xl font-bold drop-shadow-md">The best way to manage your services timetables<span class="text-tuturnera-white">.</span></h1>

    <div class="flex flex-col items-center justify-between space-y-4 lg:pl-2">
      <p class="text-tuturnera-white text-lg"><span class="text-tuturnera-light-green font-bold">M</span>anage your schedules easily and efficiently with the best solution on the market. <span class="text-tuturnera-light-green font-bold">S</span>ave time, avoid complications, and optimize your productivity with a tool designed to simplify your daily routine. <span class="text-tuturnera-light-green font-bold">D</span>iscover how it can help you today<span class="text-tuturnera-light-green font-bold">!</span></p>

      <a href="" class="tuturnera-button w-full py-2 font-bold flex justify-center text-tuturnera-blue bg-tuturnera-light-green  active:opacity-0.5 hover:shadow-light">Try it for free</a>
    </div>
  </div>

  <img src="https://res.cloudinary.com/dmfr1l3tj/image/upload/v1742775208/business_-entrepreneurship-and-growth_zfdcpq.webp" alt="" class=" w-full object-fit drop-shadow-md">
</section>
*/}