@import "tailwindcss";

@theme {
    --color-tuturnera-light-green: #00ED64;
    --color-tuturnera-dark-green: #006A4A;
    --color-tuturnera-dark-gray: #00120B;
    --color-tuturnera-light-gray: #E7EAEE;
    --color-tuturnera-white: #F7F9F9;
}