---

---

<section class="w-full grid md:grid-cols-2 lg:px-12">
  <div class="w-full flex flex-col lg:flex-row justify-center p-12 lg:py-16 bg-tuturnera-blue rounded-b-[50px] shadow-md gap-4">
    <h1 class="text-tuturnera-light-green text-4xl lg:text-6xl font-bold drop-shadow-md">The best way to manage your services timetables</h1>

    <div class="flex flex-col items-center justify-center space-y-4 lg:pl-2">
      <p class="text-tuturnera-white"><span class="text-tuturnera-light-green font-bold">M</span>anage your schedules easily and efficiently with the best solution on the market. <span class="text-tuturnera-light-green font-bold">S</span>ave time, avoid complications, and optimize your productivity with a tool designed to simplify your daily routine. <span class="text-tuturnera-light-green font-bold">D</span>iscover how it can help you today<span class="text-tuturnera-light-green font-bold">!</span></p>

      <div class="mt-auto w-full flex flex-col items-center justify-center gap-4 font-semibold">
        <div class="w-full">
          <a href="" class="w-full py-2 flex justify-center text-tuturnera-dark-green rounded-2xl bg-tuturnera-white border-2 border-b-6 border-tuturnera-dark-green active:border-b-2">Create service</a>
        </div>
        <div class="w-full">
          <a href="" class="w-full py-2 flex justify-center text-tuturnera-white rounded-2xl bg-tuturnera-dark-green border-2 border-b-6 border-tuturnera-white active:border-b-2">Request appointment</a>
        </div>
      </div>
    </div>
  </div>

  <img src="https://res.cloudinary.com/dmfr1l3tj/image/upload/v1742775208/business_-entrepreneurship-and-growth_zfdcpq.webp" alt="" class="hidden md:block w-full object-fit drop-shadow-md">
</section>
