---
import MainContent from '../components/home/MainContent.astro';
import Services from '../components/home/Services.astro'
import Layout from '../layouts/Layout.astro';
---

<Layout title="Tuturnera - The best way to manage your services tametables">
	<main class="min-h-screen w-full space-y-16">
    <MainContent />

    <Services />
  </main>
</Layout>
